*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #EEEFF1;
    padding: 20px;
    color: black;
}

.wrap{
    max-width: 1110px;
    margin: 0px auto;
}

.header-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text{
    margin: 21px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    color: black;
}

.header-text:hover{
    color: #34547A;
}

.header-text-logo{
    text-decoration: none;
    font-family: Revalia;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}

.promo-wrap{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 210px;
}

.laptop{
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
    height: 230px;
}

.design-text{
    margin-left: 130px;
}

.text-head{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    text-align: left;
    color: black;
}

.text{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    margin-top: 60px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #727272;
}

.type-me-btn{
    letter-spacing: 0.07cm;
    display: flex;
    margin-top: 60px;
    border-style: none;
    background-color: #34547A;
    color:white;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}

.type-me-btn:hover{
    background-color: #446b9b;
    transition: 0.3s;
}

.type-me-btn:active{
    background-color: #8fabce;
    transition: 0.3s;
}

.text-head-about-me{
    margin-top: 119px;
    font-size: 32px;
    text-align: center;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 79px;
    color: black;
}

.text-about-me{
    margin: 50px 50px;
    max-width: 496px;
    text-align: center;
}

.about-me{
    display: flex;
    justify-content: center;
}

.projects{
    margin-top: 100px;
    padding: 100px;
    background-color: #34547A;
    align-items: center;
    display: flex;
    justify-content: center;
}

.project-item{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.head-project-text{
    line-height: 25px;
    text-align: left;
    font-size: 21px;
    margin: 0px;
    margin-left: 20px;
    color:white;
}

.project-text{
    margin: 0px;
    color:white;
}

.skills{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 102px;
}

.my-skills-header{
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 38px;
}

.photoshop{
    margin-top: 0px;
    margin-bottom: 30px;
}

.photoshop:hover{
    font-size: 20px;
    transition: 0.1s;
}

.my-skills-img{
    margin-left: 150px;
    display: inline-flex;
    width: 555px;
    height: 450px;
}

.work{
    background-color: #EEEFF1;
    padding-bottom: 100px;
}

.how-work-text{
    margin-top: 50px;
    text-align: center;
}

.video-work{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.video-img{
    margin-top: 7px;
    width: 1110px;
    height: 600px;
}

.card-item{
    border-radius: 0px;
    margin-top: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.table-fig > img{
    width: 379px;
    height: 379px;
}

.table-fig > img:hover{
    opacity: 0.5;
}

.table-item{
    max-width: 1110px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #34547A; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6ccfb;
}

.microsoft-img{
    width: 255px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
}

.company{
    display: flex;
    justify-content: center;
    margin-top: 72px;
    margin-bottom: 100px;
}

.send-application-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.send-application{
    background-color: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.send-app-text-head{
    font-size: 32px;
}

.send-app-text{
    margin-bottom: 65px;
}

.form{
    display: flex;
    justify-content: center;

}

.textarea-form{
    width: 506px;
    height: 141px;
    max-width: 540px;
    max-height: 175px;
    font-size: 14px;
    color: #5F5D5D;
    margin-top: 0px;
    padding: 17px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.name-form{
    width: 235px;
    height: 50px;
    font-size: 14px;
    color: #5F5D5D;
    margin-top: 0px;
    border: none;
    padding-left: 20px;
    border-radius: 5px;
}

.email-form{
    width: 235px;
    height: 50px;
    font-size: 14px;
    color: #5F5D5D;
    margin-top: 0px;
    margin-left: 30px;
    border: none;
    padding-left: 20px;
    border-radius: 5px;
}

.send-app-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.send-btn{
    margin-top: 0px;
}



